/* Estilos para o header */
header {
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center; /* Centralizar o conteúdo */
  }
  
  /* Estilos para o título */
  header h1 {
    font-size: 36px; /* Tamanho da fonte */
    font-family: "Arial", sans-serif; /* Fonte personalizada */
    text-transform: uppercase; /* Transformar em letras maiúsculas */
  }
  
  
  /* Estilos para a galeria de imagens */
.gallery {
    display: flex;
    justify-content: center; /* Centralizar horizontalmente */
    align-items: center; /* Centralizar verticalmente */
    flex-wrap: wrap; /* Quebrar para a próxima linha, se necessário */
  }
  
  .gallery img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 10px; /* Adicionar margem entre as imagens */
  }
  
  
  /* Estilos para os links */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  ul li a {
    color: #333;
    text-decoration: none;
  }
  
  /* Estilos para o footer */
  footer {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
  }

  .text-center {
    text-align: center;
  }
  
  /* Estilos gerais para o site */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos específicos para diferentes tamanhos de tela */
  
  /* Para telas menores que 768px */
  @media (max-width: 767px) {
    .container {
      padding: 10px;
    }
  }
  
  /* Para telas menores que 480px */
  @media (max-width: 479px) {
    .container {
      padding: 5px;
    }
  }

  header {
    background-color: #000000; /* Cor de fundo do cabeçalho */
    padding: 20px;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
  }
  
  .round-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  